body {
    display: grid;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}

svg {
    width: 100%;
    height: 100%;
}

#top, #bottom {
    grid-column: 2;
}

#left {
    grid-column: 1;
}

#screen {
    display: grid;
    margin: 5px;
    border: 5px solid blue;
    padding: 5px;
    background-color: lightyellow;
}

text {
    fill: darkblue;
    transform-origin: center;
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#screen p {
    height: fit-content;
    margin: auto;
    color: darkblue;
    text-align: center;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button, textarea {
    width: fit-content;
    margin: auto;
    border: 0.25em solid darkblue;
    padding: 0.5em;
    background-color: lightblue;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (orientation: landscape) {
    body {
        grid-template: 20vh auto 20vh / 20vh auto 20vh;
    }

    #top, #bottom {
        width: 60vh;
        margin: auto;
    }

    text {
        font-size: 10vh;
    }

    button {
        font-size: 5vh;
    }
}

@media (orientation: portrait) {
    body {
        grid-template: 20vw auto 20vw / 20vw auto 20vw;
    }

    #left, #right {
        height: 60vw;
        margin: auto;
    }

    text {
        font-size: 10vw;
    }

    button {
        font-size: 5vw;
    }
}